{{!-- Evidences --}}
<div class="container">
  <div class="row">
    <div class="col-12 text-left">
      <h2>Evidencias</h2>
    </div>
  </div>
</div>
<div id="evidences" class="container evidences">
  {{!-- Evidence --}}
  <div class="row">
    <div class="col-md-6">
      <h3>A.1 Obstaculización al trabajo del Comisionado Iván Velásquez y la Comisión</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://www.telesurtv.net/telesuragenda/cronologia-jimmy-morales-cicig-guatemala--20171025-0033.html"
            target="_blank"
            rel="noopener"
          >
            Evidencia 1: Nota de prensa, elaborada por Telesur Tv; en la misma aparece desarrollado en orden cronológico (desde abril 2016 a agosto 2018)
          </a>
        </li>
        <li>
          <a
            href="https://www.efe.com/efe/america/politica/el-gobierno-de-guatemala-lerevoca-las-visas-a-once-empleados-la-cicig/20000035-3782197"
            target="_blank"
            rel="noopener"
          >
            Evidencia 2: La no renovación de visas de trabajo por parte del Ministerio de Relaciones Exteriores es una clara violación al acuerdo de creación de la CICIG con el gobierno de guatemala.
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  <div class="row">
    <div class="col-md-6">
      <h3>A.2 Ataques a derechos políticos </h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://nomada.gt/pais/entender-la-politica/el-partido-de-jimmy-se-venga-de-las-ong-al-estilo-africano/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 3: El partido de Gobierno ha presentado en el Congreso de la República una ley que intenta obstaculizar el trabajo de ONG, asociaciones civiles, organizaciones y fundaciones. 
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  <div class="row">
    <div class="col-md-6">
      <h3>A.3 Expresiones militares en discursos</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://aristeguinoticias.com/3108/mundo/gobierno-de-guatemala-no-renueva-mandato-de-la-cicig/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 4: El presidente de la República, Jimmy Morales no renovará el mandato de la CICIG además que utilizó la fuerza pública (ejército por medio de vehículos Jeep J8 articulados exclusivamente para el uso en contra del narcotráfico en las fronteras del país, una donación realizada por Estados Unidos) para amedrentar a la Comisión y al Comisionado Iván Velásquez.
          </a>
        </li>
        <li>
          <a
            href="https://www.prensalibre.com/guatemala/politica/senadores-eeuu-envian-carta-mike-pompeo-contra-jimmy-morales"
            target="_blank"
            rel="noopener"
          >
            Evidencia 5: Veintitrés senadores y congresistas demócratas estadounidenses firmaron una carta dirigida al secretario de Estado de ese país, Mike Pompeo, para expresarle su preocupación por las decisiones del Presidente Jimmy Morales, no solo por el uso de los jeeps J8 sino a su vez por los ataques a la Comisión y al Comisionado.
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- A.4 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>A.4 Restricción a la libertad de expresión y locomoción de la ciudadanía </h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://elfaro.net/es/201809/internacionales/22456/Jimmy-Morales-llena-laplaza-de-polic%C3%ADas-el-15-de-septiembre-para-protegerse-de-lasprotestas.htm"
            target="_blank"
            rel="noopener"
          >
            Evidencia 6: Durante las celebraciones del día de la independencia de Guatemala, la cual se celebra el 15 de septiembre, el presidente de la República ordenó que no se permitiera el acceso a las personas a la plaza de la constitución (que es un espacio público) además de restringir las manifestaciones y expresiones contrarias algobierno. 
          </a>
        </li>
        <li>
          <a
            href="https://www.prensalibre.com/guatemala/justicia/fiscalia-solicitara-informes-a-la-saas-por-el-cierre-de-la-plaza-de-la-constitucion"
            target="_blank"
            rel="noopener"
          >
            Evidencia 7: Por el hecho de violar la libertad de expresión y de locomoción de la ciudadanía el Ministerio Público abrió dos procesos de investigación administrativa en contra de la Guardia presidencia (SAAS) y la Policía Nacional Civil. 
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- A.5 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>A.5 Desobediencia a resoluciones de la Corte de Constitucionalidad (Vulneración del Estado de Derecho) </h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="http://www.minex.gob.gt/Noticias/Noticia.aspx?ID=27942"
            target="_blank"
            rel="noopener"
          >
            Evidencia 8: Comunicado del Gobierno de Guatemala en que anuncia que no dejará ingresar al Comisionado Iván Velásquez.
          </a>
        </li>
        <li>
          <a
            href="https://elfaro.net/es/201809/centroamerica/22457/Gobierno-de-Guatemala-desobedece-mandato-judicial-y-no-permitir%C3%A1-el-regreso-de-Iv%C3%A1n-Vel%C3%A1squez.htm"
            target="_blank"
            rel="noopener"
          >
            Evidencia 9: Resolución del 16 de septiembre de 2018 (Expediente 4207-2018), por medio de la cual la Corte de Constitucionalidad resuelve sobre la decisión del Presidente de prohibir el ingreso al país del Comisionado Iván Velásquez. 
          </a>
        </li>
        <li>
          <a
            href="https://www.cc.gob.gt/2018/09/17/caso-cicig-resolucion-4207-2018/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 10: Resolución del 19 de septiembre de 2018 (Expediente 4207-2018), por medio de la cual la Corte de Constitucionalidad resuelve la solicitud de ampliación presentado por el Presidente a la resolución anterior. En votación por mayoría, se aclara que debe permitirse el ingreso del Comisionado Iván Velásquez. 
          </a>
        </li>
        <li>
          <a
            href="https://elperiodico.com.gt/nacion/2018/09/17/ivan-velasquez-gomez-no-ingresara-al-territorio-nacional-ministro-degenhart/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 11: Notas de prensa sobre la conferencia de prensa en que autoridades del Ejecutivo expresan que no dejarán ingresar al territorio nacional al Comisionado Iván Velásquez, pese a resoluciones previas de la Corte de Constitucionalidad.
          </a>
        </li>
        <li>
          <a
            href="https://elperiodico.com.gt/nacion/2018/09/17/gobierno-desconoce-a-velasquez-como-jefe-de-la-cicig/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 12: Nota de prensa en la que se revela la carta del Ministerio de Relaciones Exteriores en la que desconocen a Iván Velásquez como jefe de la Comisión Internacional contra la Impunidad en Guatemala (Cicig) 
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/GuatemalaGob/status/1044648968989396992"
            target="_blank"
            rel="noopener"
          >
            Evidencia 13: Medios de verificación sobre acciones formuladas por el Gobierno de Guatemala y el presidente Morales para no cumplir con las resoluciones de la Corte de Constitucionalidad para permitir el ingreso a territorio guatemalteco del Comisionado Iván Velásquez. 
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- A.6 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>A.6 Opacidad en accionar gubernamental y violación al derecho de acceso a la información pública </h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://nomada.gt/pais/la-corrupcion-no-es-normal/45-preguntas-para-45-dias-de-silencio-de-jimmy/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 14: Nómada, “Las 45 preguntas para 45 días de silencio de Jimmy”, Gladys Olmstead, 2 de octubre del 2017, 
          </a>
        </li>
        <li>
          <a
            href="https://elperiodico.com.gt/nacion/2017/11/16/vicepresidente-se-aleja-de-la-alianza-por-la-transparencia/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 15: El Periódico, “Vicepresidente se aleja de Alianza por Transparencia” Fredy Montepeque, 16 de Noviembre del 2017.
          </a>
        </li>
        <li>
          <a
            href="https://elperiodico.com.gt/nacion/2017/11/18/pdh-senala-a-comunicacion-social-de-la-presidencia-de-obstaculizar-el-acceso-a-la-informacion/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 16: El Periódico, “PDH señala a Comunicación Social de la presidencia de obstaculizar el acceso a la información”, Óscar Herrera, 18 de Noviembre del 2017.
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/lahoragt/status/935569679166398464?ref_src=twcamp%5Eshare%7Ctwsrc%5Eios%7Ctwgr%5Enet.whatsapp.WhatsApp.ShareExtension"
            target="_blank"
            rel="noopener"
          >
            Evidencia 17: La Hora , “Presidente no da acceso a medios de comunicación a las reuniones de presidencia con diputados y se niega a dar información” , tuit publicado el 28 de noviembre del 2017.
          </a>
        </li>
        <li>
          <a
            href="https://www.pressreader.com/guatemala/prensa-libre/20171223/281569471094833"
            target="_blank"
            rel="noopener"
          >
            Evidencia 18: Prensa Libre, “Vicepresidencia cerrará comisión de transparencia” Henry Pocasangre, 23 de Diciembre del 2017.
          </a>
        </li>
        <li>
          <a
            href="https://lahora.gt/hermetismo-de-viaje-oficial-a-israel-genera-enormes-dudas/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 19: Declaraciones del Director Ejecutivo de la Comisión Presidencial de Gestión Pública Abierta y Transparente defendiendo la negativa del Presidente Jimmy Morales a brindar la información solicitada por sociedad civil sobre su viaje a Israel: “Todas las acciones que realiza el gobierno en función de cubrir las necesidades de la población con recursos del Estado se ventilan a través de varios mecanismos, pero en este caso particular es una donación que está ajena al gobierno abierto porque más que una acción del Estado es una cosa que un particular pagó, la transparencia es mostrar las acciones en materia de política pública”.
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- B.1 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>B.1 Incumplimiento a requerimiento de respuesta razonada a todos los insumos recibidos en el proceso de cocreación</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/view"
            target="_blank"
            rel="noopener"
          >
            Evidencia 20: Correo de Red Ciudadana a Punto de Contacto y al Comisionado de la Gestión Pública Abierta y Transparente solicitando una respuesta razonada a la propuesta de compromiso que se solicitó en la segunda mesa de cocreación de “Mecanismos de transparencia y anticorrupción” y respuesta de Comisionado estipulando que no habrá respuesta. Vale la pena recalcar que aunque el Comisionado dice que la metodología no permitía entregar propuestas de compromisos a organizaciones de sociedad civil, en la mesa de “Transparencia Fiscal” no solo se aceptó la entrega de propuestas de compromisos por parte de una organización, sino que se discutieron ampliamente en la siguiente ronda.
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- B-2 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>B.2 Graves falencias en el proceso y metodología de convocatoria.</h3>
      <p>
        Este ha sido un problema crónico durante la implementación del Tercer Plan de Acción Nacional, y aún más grave durante el proceso de cocreación del Cuarto Plan de Acción Nacional. En distintas mesas técnicas y reuniones se pidió que la convocatoria se hiciera con suficiente tiempo de antelación, sin lograr cambios sustanciales. Incluso se llegó al punto en que a tres días de iniciar la segunda ronda de mesas de cocreación, el gobierno hizo cambios de fechas y lugares. Esto atenta en contra de los Estándares de participación y cocreación: “El gobierno comunica a los actores información sobre OGP con anticipación para asegurar que estén informados y preparados para participar en todas las etapas del proceso.”
      </p>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/view"
            target="_blank"
            rel="noopener"
          >
            Evidencia 21: Correo de la organización no gubernamental Childfund solicitando se invite a las reuniones y mesas de cocreación al menos 15 días antes ya que eso necesitan ellos para agendar cualquier actividad. Este correo no tuvo respuesta. Ver anexos.
          </a>
        </li>
        <li>
          <a
            href="http://www.icefi.org/comunicados/guatemala-icefi-recomienda-corregir-la-metodologia-de-la-mesa-de-trabajo-de"
            target="_blank"
            rel="noopener"
          >
            Evidencia 22: Comunicado del ICEFI señalando las graves falencias metodológicas en la primera mesa técnica “Transparencia Fiscal en Compras y Contrataciones”. Debido a estas falencias, el instituto decidió retirarse de la mesa
          </a>
        </li>
        <li>
          <a
            href="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/view"
            target="_blank"
            rel="noopener"
          >
            Evidencia 23: Correo del ICEFI solicitando a punto de contacto la agenda, listado de participantes de la entidad pública, metodología para una mesa de cocreación. Un día antes se envió para esa mesa, pero no se volvió a replicar el ejercicio, aun cuando sociedad civil solicitó que se compartiera los nombres de las autoridades acreditadas para participar en cada mesa de cocreación. Ver anexos.
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- B.3 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>B.3 Retraso por parte de gobierno a la creación de un foro multiactor desde el 2017</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/view"
            target="_blank"
            rel="noopener"
          >
            Evidencia 24: Desde finales del 2017 se ha hablado en la mesa técnica de la importancia de ya establecer en conjunto los mecanismos de gobernanza. Sin  embargo, a la fecha eso no se ha podido consolidar. A continuación, se incluye una copia de la minuta de una reunión en la cual salió a relucir una vez más que la falta de mecanismos de gobernanza, de un foro multiactor, ha derivado en que nunca hubo claridad sobre la toma de decisiones y que en última instancia Punto de Contacto era quien tomaba las decisiones de manera unilateral. Un ejemplo de estas decisiones tomadas de manera unilateral sin considerar postulados de sociedad civil, se ejemplifica cuando Red Ciudadana solicitó considerar el atrasar la primera ronda de mesas de cocreación debido al desastre del Volcán de Fuego, y se denegó la solicitud por parte de Punto de Contacto aún cuando en efecto esto pudo limitar la cantidad y la calidad de la participación de sociedad civil e incluso de las instituciones públicas que estaban atendiendo el desastre. Ver anexos.
          </a>
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1iQRYOUByRBpDZXQK_TZMwR1U8nv9No-Nfj1kH0z3oi8/edit?usp=sharing"
            target="_blank"
            rel="noopener"
          >
            Evidencia 25: Memoria de la reunión extraordinaria de la Mesa Técnica 2 de agosto (especialmente a partir de la página 29 se discute por representantes de organizaciones de sociedad civil y delegados de instituciones públicas la inexistencia de un mecanismo de toma de decisiones claro en la mesa técnica).
          </a>
        </li>
        <li>
          <a
            href="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/view"
            target="_blank"
            rel="noopener"
          >
            Evidencia 26: correo de Red Ciudadana solicitando postergar primera mesa de cocreación y respuesta negativa por parte de Punto de Contacto. Ver anexos.
          </a>
        </li>
        <li>
          <a
            href="https://www.prensalibre.com/guatemala/politica/seis-organizaciones-civiles-abandonan-mesa-tecnica-de-gobierno-abierto-por-crisis-politica"
            target="_blank"
            rel="noopener"
          >
            Evidencia 27: a finales de agosto de 2017, seis organizaciones anunciaron su retiro de la Mesa Técnica de Gobierno Abierto ante la decisión presidencial de declarar non grato al comisionado Iván Velásquez.
          </a>
        </li>
        <li>
          <a
            href="https://lahora.gt/organizaciones-piden-cumplir-requisitos-en-gobierno-abierto/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 28: a comienzos de agosto de 2018, once organizaciones solicitaron el cumplimiento de requisitos mínimos como mecanismos de gobernanza claros y toma de decisiones equitativas entre la sociedad civil y gobierno.
          </a>
        </li>
        <li>
          <a
            href="http://ssl.elperiodico.com.gt/nacion/2018/10/06/organizaciones-se-retiran-de-la-discusion-de-gobierno-abierto/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 29: nota sobre las Organizaciones que se retiraron en septiembre de 2018 de los espacios de Gobierno Abierto
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- C.1 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>C. 1 Simulación de participación:</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://www.facebook.com/122045484506987/videos/1939422099484998/?__tn__=%2CdkC-R&eid=ARA_EW08vFCWuxQ2xNNrK8R9rgJsinZrNThqdpifkVG5SnQmnF-1IfQQqu7yX5mUxh94fErZWuYDudez&hc_ref=ARTTyAhmyEw_Q-i-ukYRGIiFGrC3eq3XDz0Owt_Wu2y2BNC7uhtZHUNlW-ogK6npsb0"
            target="_blank"
            rel="noopener"
          >
            Evidencia 30: Mesa de Innovación en la Gestión Pública
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/122045484506987/videos/249256542439895/?__tn__=%2CdkC-R&eid=ARA_EW08vFCWuxQ2xNNrK8R9rgJsinZrNThqdpifkVG5SnQmnF1IfQQqu7yX5mUxh94fErZWuYDudez&hc_ref=ARTTyAhmyEw_Q-iukYRGIiFGrC3eq3XDz0Owt_Wu2y2BNC7uhtZHUNlW-ogK6npsb0"
            target="_blank"
            rel="noopener"
          >
            Evidencia 31: Mesa de Ambiente, recursos naturales y gestión de riesgo
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- C.2 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>C. 2 Paridad en la participación</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/view"
            target="_blank"
            rel="noopener"
          >
            Evidencia 32: los requisitos básicos de los Estándares de Participación y Cocreación de OGP establecen que el foro regular debe tener «un balance equilibrado de representantes gubernamentales y no gubernamentales», sin embargo, pese al esfuerzo de un grupo de organizaciones de la sociedad civil (OSC) para sugerir  correcciones a los problemas metodológicos, las reuniones técnicas celebradas en el mes octubre de 2018 para el proceso de co-creación del cuarto plan de gobierno abierto de Guatemala, confirmaron el escaso interés del Gobierno de aumentar la participación de la sociedad civil y procurar ese balance equilibrado. En este periodo se realizó la tercera reunión técnica de cada una de las doce mesas de trabajo, y al menos cinco de estas requirieron que se realizara una 4ta. y 5ta. reunión, en algunos casos como consecuencia de reprogramaciones. Los datos publicados en la página de Gobierno Abierto confirman que del total de asistentes a estas reuniones (727), el 91% (660) fueron funcionarios de las instituciones públicas y el restante 9% (67) fueron representantes de 12 OSC, de 2 entidades del sector privado y 2 ciudadanos. Ver anexos.
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{!-- Evidence --}}
  {{!-- C.3 --}}
  <div class="row">
    <div class="col-md-6">
      <h3>C.3 Borradores de compromisos del Cuarto Plan de Acción Nacional</h3>
    </div>
    <div class="col-md-6">
      <h6>Notas de prensa</h6>
      <ul class="list-unstyled links-list">
        <li>
          <a
            href="http://gobiernoabierto.gob.gt/3ra-reunion-tecnica-del-eje-de-mecanismos-de-transparencia-y-anticorrupcion/"
            target="_blank"
            rel="noopener"
          >
            Evidencia 33: después de 3 mesas de cocreación, el borrador de los compromisos del eje de “Mecanismos de transparencia y anticorrupción” consultado incluyen hitos como creación de comités para revisión de iniciativas de ley de archivos, elaboración  de estudios de posibles mecanismos anticorrupción, diseño de capacitaciones en ética y probidad de funcionarios públicos, etc. 
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>