<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-12 text-center">
      <p class="mb-5">ORGANIZACIONES SUMADAS</p>
      <div class="org-image-list">
        <img src="img/image260x150.png" alt="Organizaci贸n">
        <img src="img/image260x150.png" alt="Organizaci贸n">
        <img src="img/image260x150.png" alt="Organizaci贸n">
        <img src="img/image260x150.png" alt="Organizaci贸n">
      </div>
    </div>
  </div>
</div>