<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-12 text-center">
      <p class="mb-5">SIGNATORY CIVIL SOCIETY ORGANIZATIONS</p>
      <div class="org-image-list">
        <img alt="Organization" src="img/logo-1.png">
        <img alt="Organization" src="img/logo-2.png">
        <img alt="Organization" src="img/logo-3.png" class="vertical">
        <img alt="Organization" src="img/logo-4.png">
      </div>
      <div class="org-image-list">
        <img alt="Organization" src="img/logo-5.png" class="vertical">
        <img alt="Organization" src="img/logo-6.png" class="vertical">
        <img alt="Organization" src="img/logo-7.png">
        <img alt="Organization" src="img/logo-8.png">
      </div>
    </div>
  </div>
</div>
