<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-12 text-center">
      <p class="mb-5">ORGANIZACIONES SUMADAS</p>
      <div class="org-image-list">
        <img alt="Organización" src="img/logo-1.png">
        <img alt="Organización" src="img/logo-2.png">
        <img alt="Organización" src="img/logo-3.png">
        <img alt="Organización" src="img/logo-4.png">
      </div>
      <div class="org-image-list">
        <img alt="Organización" src="img/logo-5.png">
        <img alt="Organización" src="img/logo-6.png">
        <img alt="Organización" src="img/logo-7.png">
        <img alt="Organización" src="img/logo-8.png">
      </div>
    </div>
  </div>
</div>