<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-12 text-center">
      <p class="mb-5">ORGANIZACIONES SUMADAS</p>
      <div class="org-image-list">
        <img src="img/image260x150.png" alt="Organización">
        <img src="img/image260x150.png" alt="Organización">
        <img src="img/image260x150.png" alt="Organización">
        <img src="img/image260x150.png" alt="Organización">
      </div>
      <div class="pt-5">
        {{#twitter-share-button
          title="Titulo para está página."
          url="https://dominio.redciudadana.org"
          hashtags="HashtagEjemplo"
          via="RedxGuate"
        }}
          Tweet
        {{/twitter-share-button}}
        {{#fb-share-button
          url="https://dominio.redciudadana.org"
          quote="Titulo para está página."
          hashtags="HashtagEjemplo"
        }}
          Share
        {{/fb-share-button}}
      </div>
    </div>
  </div>
</div>