{{#bs-navbar
  backgroundColor="primary"
  type="light"
  position="fixed-top" 
  fluid=false
as |navbar|
}}
  <div class="navbar-header">
    {{navbar.toggle}}

    {{#link-to "en" class="navbar-brand"}}
      <img
        src="logo-brand-en.png"
        class="img-responsive"
        title={{nombreApp}}
        alt="Open Government Guatemala Civil Society"
      >
    {{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav justified=true type="pills" class="ml-auto" as |nav|}}
      {{#nav.item active=false}}
        <a href="#start">Home</a>
      {{/nav.item}}
      {{#nav.item active=false}}
        <a href="#about">What it is?</a>
      {{/nav.item}}
      {{#nav.item active=false}}
        <a href="#cart">Letter</a>
      {{/nav.item}}
      {{#nav.item active=false}}
        <a href="#evidences">Evidence</a>
      {{/nav.item}}
      {{#nav.item active=false}}
        {{link-to "ES" "index"}}
      {{/nav.item}}
      {{#nav.item active=false}}
        {{link-to "EN" "en"}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
