{{red-navbar-en}}

{{!-- slider --}}
<img
  src="{{rootURL}}/img/slider-en.png"
  alt=""
  width="100%"
  id="start"
>
{{!-- main info --}}
<main>
  {{!-- White container --}}
  <div id="about" class="container">
    {{!-- ¿Qué es Gobierno Abierto? / VIDEO--}}
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h3>What is Open Government and why it is not working in Guatemala?</h3>
        <p class="text-init">
          Open Government is an international initiative that aims to change the paradigm of public administration and the dynamic between the government of a country and its citizens. Through its 3 core pillars (transparency, accountability and participation) it seeks to co-create government compromises with civil society and the citizens.<br><br>

          Since last year, Jimmy Morales' administration has taken decisions and executed actions that have undermined the fight against corruption in Guatemala. These actions have gone so far as to violate the transparency and freedom of speech compromises of the Open Government Declaration. This situation has invalidated the capacity of the Guatemalan government to coordinate, with the needed legitimacy and plural participation of the civil society, the cocreation process of the 4th Action Plan. It is just as relevant to consider that in the co-creation process there have been clear violations to the Open Goverment Partnership Participation and Co-creation Standards.<br><br>

          Because of this, several civil society organizations have tried in different ways to save the co-creation process and the initiative in the country. Nevertheless, given the serious actions that violate transparency and OGP principles documented below, 8 civil society organizations have sent a letter to the Open Government Partnership Committee to activate the Rapid Response Mechanism.
        </p>
      </div>
      {{!-- <div class="col-md-6 pl-5 px--auto">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/IEPTU3rpx1k"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div> --}}
    </div>
  </div>
  {{!-- Light container --}}
  {{!-- Timeline --}}
  {{!-- <div id="timeline" class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Timeline.js</h1>
        <iframe
          src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Default&lang=en&initial_zoom=2&height=650"
          width="100%"
          height="650"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          frameborder="0"
        >
        </iframe>
      </div>
    </div>
  </div> --}}
  {{!-- White container --}}
  {{!-- Cart --}}
  <div id="cart" class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Letter</h1>
        <h6>Letter from the 8 guatemalan civil society organizations to the Open Government Partnerhip Steering Committee</h6>
        <div>
          {{#twitter-share-button
            title="¿Qué es Gobierno Abierto y por qué no está funcionando en Guatemala? "
            url="http://agaguatemalasc.org/"
            hashtags="SinTransparenciaNoHayGobiernoAbierto"
          }}
            Tweet
          {{/twitter-share-button}}
          {{#fb-share-button
            url="http://agaguatemalasc.org/"
            quote="¿Qué es Gobierno Abierto y por qué no está funcionando en Guatemala? "
            hashtags="SinTransparenciaNoHayGobiernoAbierto"
          }}
            Share
          {{/fb-share-button}}
        </div>
        <iframe
          src="https://drive.google.com/file/d/1NDbZm8CkH4i6c93lPi8RzU0WgfI29zCU/preview"
          width="100%"
          height="480"
          class="mt-5"
        >
        </iframe>
      </div>
    </div>
  </div>
  {{!-- White Container --}}
  {{evidences-en}}
</main>


{{red-footer-en}}
