{{!-- slider --}}
<img src="{{rootURL}}/img/slider.png" alt="" width="100%" class="mt-5" id="start">
{{!-- main info --}}
<main>
  {{!-- White container --}}
  <div id="about" class="container">
    {{!-- ¿Qué es Gobierno Abierto? / VIDEO--}}
    <div class="row">
      <div class="col-md-6">
        <h3>¿Qué es Gobierno Abierto y por qué no está funcionando?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus itaque harum, facere in repellendus incidunt voluptatem, non ducimus quaerat. Facilis iste incidunt, amet explicabo, quisquam repellendus fugiat animi ut perspiciatis?
        </p>
      </div>
      <div class="col-md-6 pl-5 px--auto">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/IEPTU3rpx1k"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
  {{!-- Light container --}}
  {{!-- Timeline --}}
  <div id="timeline" class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Timeline.js</h1>
        <iframe
          src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Default&lang=en&initial_zoom=2&height=650"
          width="100%"
          height="650"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          frameborder="0"
        >
        </iframe>
      </div>
    </div>
  </div>
  {{!-- White container --}}
  {{!-- Cart --}}
  <div id="cart" class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Carta</h1>
        <iframe
          src="//www.slideshare.net/slideshow/embed_code/key/rdOzN9kr1yK5eE"
          width="595"
          height="485"
          frameborder="0"
          marginwidth="0"
          marginheight="0"
          scrolling="no"
          class="slideshare"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
  {{!-- White Container --}}
  {{!-- Evidences --}}
  <div id="evidences" class="container evidences">
    {{!-- Evidence --}}
    <div class="row">
      <div class="col-md-6">
        <h3>Evidencia</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur neque adipisci ea autem suscipit impedit veritatis, repellendus ab laborum deserunt earum! Minima numquam quia porro, expedita iusto minus debitis architecto.
        </p>
      </div>
      <div class="col-md-6">
        <h6>Links</h6>
        <ul class="list-unstyled links-list">
          <li><a href="#">http://redciudadana.org</a></li>
          <li><a href="#">http://redciudadana.org</a></li>
          <li><a href="#">http://redciudadana.org</a></li>
        </ul>
      </div>
    </div>
    {{!-- Evidence --}}
    <div class="row">
      <div class="col-md-6">
        <h3>Evidencia</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nisi, ad consectetur aliquam natus et quam. Recusandae optio odit adipisci voluptatibus mollitia quos, saepe sed numquam ipsam natus cupiditate sapiente.
        </p>
      </div>
      <div class="col-md-6">
        <h6>Links</h6>
        <ul class="list-unstyled links-list">
          <li><a href="#">http://redciudadana.org</a></li>
          <li><a href="#">http://redciudadana.org</a></li>
          <li><a href="#">http://redciudadana.org</a></li>
        </ul>
      </div>
    </div>
    {{!-- Evidence --}}
    <div class="row">
      <div class="col-md-6">
        <h3>Evidencia</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum officiis tempora, fugiat! Iure temporibus, obcaecati architecto inventore, cupiditate nulla eveniet ipsum iusto harum tenetur adipisci quasi deleniti commodi sint ipsam?
        </p>
      </div>
      <div class="col-md-6">
        <h6>Links</h6>
        <ul class="list-unstyled links-list">
          <li><a href="#">http://redciudadana.org</a></li>
          <li><a href="#">http://redciudadana.org</a></li>
          <li><a href="#">http://redciudadana.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
