{{red-navbar}}

{{!-- slider --}}
<img
  src="{{rootURL}}/img/slider.png"
  alt=""
  width="100%"
  id="start"
>
{{!-- main info --}}
<main>
  {{!-- White container --}}
  <div id="about" class="container">
    {{!-- ¿Qué es Gobierno Abierto? / VIDEO--}}
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h3>¿Qué es Gobierno Abierto y por qué no está funcionando en Guatemala?</h3>
        <p class="text-init">
          Gobierno Abierto es una iniciativa internacional que propone cambiar el paradigma de la gestión pública y la dinámica entre el gobierno de un país y la ciudadanía. A través de sus 3 pilares, transparencia, colaboración y participación, busca crear compromisos de gobierno tomando en cuenta la voz de la ciudadanía y organizaciones de la sociedad civil.<br><br>

          Desde al año pasado el Gobierno de Jimmy Morales ha incurrido en acciones que han socavado claramente la lucha contra la corrupción en el país. Estas acciones han llegado incluso a violar los compromisos de transparencia y libertad de expresión de la Declaración de Gobierno Abierto.
          Estas situaciones han invalidado la capacidad del Gobierno para coordinar con la debida legitimidad y la participación plural de la sociedad civil la cocreación del 4to Plan. Es de igual importancia el hecho que en el proceso de cocreación se han incurrido en claras violaciones a los Estándares de participación y cocreación de la Alianza de Gobierno Abierto.<br><br>

          Debido a esto, diversas organizaciones de la sociedad civil intentaron de distintas maneras rescatar el proceso de cocreación y la iniciativa en el país. Sin embargo, ante las reiteradas violaciones a los distintos principios que abajo se documentan, 8 organizaciones de sociedad civil han enviado la siguiente carta a la Alianza de Gobierno Abierto con base en el Mecanismo de Respuesta Rápida.
        </p>
      </div>
      {{!-- <div class="col-md-6 pl-5 px--auto">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/IEPTU3rpx1k"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div> --}}
    </div>
  </div>
  {{!-- Light container --}}
  {{!-- Timeline --}}
  {{!-- <div id="timeline" class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Timeline.js</h1>
        <iframe
          src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Default&lang=en&initial_zoom=2&height=650"
          width="100%"
          height="650"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          frameborder="0"
        >
        </iframe>
      </div>
    </div>
  </div> --}}
  {{!-- White container --}}
  {{!-- Cart --}}
  <div id="cart" class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Carta</h1>
        <h6>Carta de las 8 organizaciones de sociedad civil guatemalteca abajo suscritas al Comité Directivo de la Alianza de Gobierno Abierto</h6>
        <div>
          {{#twitter-share-button
            title="¿Qué es Gobierno Abierto y por qué no está funcionando en Guatemala? "
            url="http://osc.redciudadana.org/"
            hashtags="SinTransparenciaNoHayGobiernoAbierto"
          }}
            Tweet
          {{/twitter-share-button}}
          {{#fb-share-button
            url="http://osc.redciudadana.org/"
            quote="¿Qué es Gobierno Abierto y por qué no está funcionando en Guatemala? "
            hashtags="SinTransparenciaNoHayGobiernoAbierto"
          }}
            Share
          {{/fb-share-button}}
        </div>
        <iframe
          src="https://drive.google.com/file/d/1mjCzaPfhsPPivEmMlOs7aN5aMolboZR7/preview"
          width="100%"
          height="480"
          class="mt-5"
        >
        </iframe>
      </div>
    </div>
  </div>
  {{!-- White Container --}}
  {{evidences-es}}
</main>

{{red-footer}}
